@font-face {font-family: CR;src: url("/Fuentes/Cardo-Regular.ttf");}
@font-face {font-family: CB;src: url("/Fuentes/Cardo-Bold.ttf");}

body {
    background-color: #FFFAFA !important;
}

.title2 {
    font-family: CB;
    font-size:28px;
    text-align:center;
}

.subtitle{
    font-family: CR;
    font-size:25px;
    text-align:center;
}

.texto{
    font-family: CR;
    font-size:18px;
    text-align:center
}

.rows{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.fondo{
    height: auto;
    max-height: 70%; 
    width: auto;
    max-width: 75%; 
    opacity: 1;
    float: left;
    margin-left: 80px;
}

.row {
    display: flex;
    justify-content: space-around; /* o usa 'space-around' para espaciado uniforme */
  }
  
  .post-item {
    width: 30%; /* o ajusta según sea necesario */
    box-sizing: border-box; /* para incluir el padding y el borde en el ancho */
  }
  
  .post-link {
    display: flex;
    flex-direction: column; /* para colocar la imagen y los detalles en columnas */
    text-decoration: none; /* para quitar el subrayado del enlace */
  }

#searchbar {
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
}

input[type=text] {
     width: auto;
     height: 20%;
}
  